h1 {
  margin-bottom: 30px;
  text-align: center;
}


.conteneur {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.centrer {
  max-width: 400px;
  width: 100%;
}

.formulaire-contact {
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.formulaire-contact h2 {
  font-size: 24px;
  font-weight: 600;
  color: #f5f5f5;
  margin-bottom: 20px;
  text-align: center;
}

.champ {
  margin-bottom: 15px;
}

.champ label {
  display: block;
  margin-bottom: 5px;
  color: #f5f5f5;
  font-weight: 500;
}

.champ input,
.champ textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333333;
  color: #f5f5f5;
  background-color: #1e1e1e;
  font-size: 14px;
  transition: all 0.3s ease;
}

.champ input:focus,
.champ textarea:focus {
  border-color: #facc15;
  outline: none;
  box-shadow: 0 0 5px rgba(250, 204, 21, 0.5);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #facc15;
  color: #212121;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #eab308;
}